---
import Layout from '../layouts/Layout.astro';
import Sidebar from "../components/Sidebar.astro"
import Me from '../components/Me.astro'
import Proyects from '../components/Proyects.astro'
import Education from '../components/Education.astro'
import Skills from '../components/Skills.astro'
import Contact from '../components/Contact.astro';

import '@fontsource-variable/pixelify-sans';

---

<Layout>
	<Sidebar/>
	<main class=" md:ml-[256px] font-pixelify">
		<section id="diego">
			<Me/>
		</section>
		<section id="about">
			<Me></Me>
		</section>
		<section id="porfolio">
			<Proyects/>
		</section>
		<section id="education">
			<Education/>
		</section>
		<section id="skills">
			<Skills/>
		</section>
		<section id="contact">
			<Contact/>
		</section>
	</main>
	<script type="module" src="/src/scripts/NavBar.js"></script>
</Layout>
