---
import Layout from '../layouts/Layout.astro';
import Sidebar from "../components/Sidebar.astro"
import Me from '../components/Me.astro'

import '@fontsource-variable/pixelify-sans';

---

<Layout>
	<Sidebar/>
	<main class=" ml-[256px] font-pixelify">
		<section id="diego">
			<Me></Me>
		</section>
		<section id="about">
			<Me></Me>
		</section>
		<section id="porfolio">
			<Me></Me>
		</section>
		<section id="education">
			<Me></Me>
		</section>
		<section id="skills">
			<Me></Me>
		</section>
		<section id="contact">
			<Me></Me>
		</section>
	</main>
	<script type="module" src="/src/scripts/NavBar.js"></script>
</Layout>
