---
import Social from './Social.astro'
import DButton from './DawnloadButton.astro'
---

<div class="bg-gray-900 flex items-center justify-start bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')] h-screen">
  <div class="py-8 px-4 mx-20 max-w-screen-xl text-left lg:py-16 z-10 relative">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-pC4 md:text-5xl lg:text-8xl">Diego López Niembro</h1>
      <div class="flex items-center my-4 min-h-4 static">
        <p id="typewriter" class="mb-8 text-lg font-normal text-pC1 lg:text-4xl"></p>
      </div>
      <Social/>
      <DButton/>
  </div>
  <div class="bg-gradient-to-b from-blue-700 to-transparent w-full h-full absolute top-0 left-0 z-0"></div>
</div>
