
<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="flex flex-col justify-center items-center h-full px-3 py-4 overflow-y-auto bg-pC1 font-pixelify text-xl">
        <img src="/yo.png" alt="icon" />
        <ul class="space-y-2 font-medium">
            <li>
                <a href="#diego" class="flex items-center p-2 text-pC4 rounded-lg group">
                    <span class="ms-3">Diego</span>
                </a>
            </li>
            <li>
                <a href="#about" class="flex items-center p-2 text-pC4 rounded-lg group">
                    <span class="ms-3">About Me</span>
                </a>
            </li>
            <li>
                <a href="#porfolio" class="flex items-center p-2 text-pC4 rounded-lg group">
                    <span class="ms-3">Portfolio</span>
                </a>
            </li>
            <li>
                <a href="#education" class="flex items-center p-2 text-pC4 rounded-lg group">
                    <span class="ms-3">Education</span>
                </a>
            </li>
            <li>
                <a href="#skills" class="flex items-center p-2 text-pC4 rounded-lg group">
                    <span class="ms-3">Skills</span>
                </a>
            </li>
            <li>
                <a href="#contact" class="flex items-center p-2 text-pC4 rounded-lg group">
                    <span class="ms-3">Contact</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

 