---
import Badage from "./Badage.astro"
---

<div class="bg-gray-900 flex items-center justify-start bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')] h-screen">
    <div class="py-8 px-4 mx-20 max-w-screen-xl text-left lg:py-16 z-10 relative">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-pC4 md:text-5xl lg:text-8xl">Skills</h1>
        <div class="flex items-center my-4 min-h-4 static">
          <p id="typewriter" class="mb-8 text-lg font-normal text-pC1 lg:text-4xl"></p>
        </div>
        <p class="mb-5 text-3xl text-pC3">Programing Languages</p>
        <div>
            <Badage 
            text="HTML"
            color="#e54c21"
            textColor="#fff"
            />
            <Badage 
            text="CCS"
            color="#214ce5"
            textColor="#fff"
            />
            <Badage 
            text="JavaScript"
            color="#f7e018"
            textColor="#000"
            />
            <Badage 
            text="Python"
            color="#3674a5"
            textColor="#fed346"
            />
            <Badage 
            text="PHP"
            color="#4b578c"
            textColor="#fff"
            />
            <Badage 
            text="Java"
            color="#ff0000"
            textColor="#fff"
            />
            <Badage 
            text="C++"
            color="#00549d"
            textColor="#fff"
            />
        </div>
        <p class="mb-5 mt-5 text-3xl text-pC3">FrameWorks & Libraries</p>
        <div>
            <Badage 
            text="Astro"
            color="#ff5a03"
            textColor="#000"
            />
            <Badage 
            text="React"
            color="#00d9ff"
            textColor="#222222"
            />
            <Badage 
            text="Vercel"
            color="#2a303e"
            textColor="#fff"
            />
            <Badage 
            text="Tailwind"
            color="#11182b"
            textColor="#34bcf4"
            />
            <Badage 
            text="Google API's"
            color="#11182b"
            textColor="#34bcf4"
            />
            <p class="mb-5 mt-5 text-3xl text-pC3">Software & Tools</p>
        <div>
            <Badage 
            text="Visual Studio Code"
            color="#00111b"
            textColor="#24a7ff"
            />
            <Badage 
            text="Ofice 365"
            color="#ff3900"
            textColor="#FFF"
            />
            <Badage 
            text="OBS Studio"
            color="#172047"
            textColor="#fff"
            />
            <Badage 
            text="Paket-Tracer Cisco"
            color="#f2ba37"
            textColor="#000"
            />
            <Badage 
            text="Terraterm"
            color="#0001f6"
            textColor="#f6f334"
            />
            <Badage 
            text="My SQL"
            color="#6a7286"
            textColor="#9ab200"
            />
            <Badage 
            text="SQL Server"
            color="#a91d22"
            textColor="#FFF"
            />
            <Badage 
            text="Firebase"
            color="#ffca28"
            textColor="#000"
            />
            <Badage 
            text="Google Analytics"
            color="#e37400"
            textColor="#000"
            />
        </div>
    </div>
</div>